<div class="col-12" *ngIf="article">
  <img
    [src]="article.caption"
    class="img-fluid rounded col-12 p-0"
    [alt]="article.title"
  />
  <h3 class="mt-2">{{ article.title }}</h3>
  <p class="text-muted my-2">
    <span class="glyphicon glyphicon-calendar"></span> {{ article.createdAt }}
  </p>
  <p>
    <strong>{{ article.description }}</strong>
  </p>
  <p class="my-2">{{ article.content }}</p>
  <p class="text-muted">
    Auteur
    <a href="#">
      {{ article.createdBy.firstname }} {{ article.createdBy.lastname }}</a
    >
  </p>
</div>
